<div>

    <div class="modal-header">
        <h3 class="modal-title" id="modal-title" ng-bind="ctrl.options.title"></h3>
    </div>
    <div class="modal-body" id="modal-body">

      <table class="table table-stripped table-hover table-bordered">
            <tr>
              <th>#</th>
              <th>Imię wykonawcy</th>
              <th>Nazwisko wykonawcy</th>
              <th>Data rozpoczęcia umowy</th>
              <th>Data zakończenia umowy</th>
              <th>Wynagrodzenie</th>
            </tr>
              <tr ng-repeat="contract in ctrl.contracts" ng-init="$parent.total = total + contract.salary">
              <td ng-class="{true: 'contractSet', false: 'contractUnset'}[contract.finish == true]">{{$index + 1}}</td>
              <td ng-class="{true: 'contractSet', false: 'contractUnset'}[contract.finish == true]" ng-bind="contract.contractorData.firstName"></td>
              <td ng-class="{true: 'contractSet', false: 'contractUnset'}[contract.finish == true]" ng-bind="contract.contractorData.lastName"></td>
              <td ng-class="{true: 'contractSet', false: 'contractUnset'}[contract.finish == true]" ng-bind="contract.dateB | date:'dd/MM/yyyy'"></td>
              <td ng-class="{true: 'contractSet', false: 'contractUnset'}[contract.finish == true]" ng-bind="contract.dateE | date:'dd/MM/yyyy'"></td>
              <td ng-class="{true: 'contractSet', false: 'contractUnset'}[contract.finish == true]" ng-bind="contract.salary">zł</td>
            </tr>
          </table>
          <div class="sum">
              <p>Suma wynagorodzeń:</p>
              <p class="sum-detail">{{total}}</p>

            
          </div>
          <div class="sum"  ng-class="{false: 'hidden'}[ctrl.options.history == true]">
            <p>Ilość nierozliczonych umów:</p>
            <p ng-class="{true: 'contractOk', false: 'contractBad'}[ctrl.notfinish == 0]" ng-bind="ctrl.notfinish"></p>
        </div>
          

    </div>
    <div class="modal-footer">
        
        <button class="btn btn-warning fa fa-times" type="button" ng-click="ctrl.cancel()" ng-if="ctrl.options.cancel"></button>
    </div>

</div>